@use './fonts' as *;

$color-light-gray: #e8e6e6;
$color-black: #000000;
$color-light-black: #616161;
$color-white: #FFFFFF;
$color-light-red: #de655b;
$color-bold-red: #ff1300;

@mixin tablet{
    @media (min-width: 768px) {
        @content
    }
};

@mixin desktop{
    @media (min-width: 1280px){
        @content
    }
};

@mixin page-boundaries{
    padding: 0 1rem 0;
    
    @include tablet{
        padding: 0 2rem 0;
    }

    @include desktop{
        padding: 0 6% 0;
    }
};

@mixin page-header-text{

}

@mixin subheader-text{
    font-size: 1rem;

    @include tablet{
        font-size: 1.5rem;
    }
}

@mixin body-text{
    font-size: 0.7rem;

    @include tablet{
        font-size: 1rem;
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web'
};

a{
    text-decoration: none;
    color: inherit;
}